.nodeGroup {
  display: flex !important;
  flex-direction: column !important;
  gap: 10px;
  .ant-checkbox-wrapper {
    margin-left: 0 !important;
  }
  .ant-radio-wrapper,
  .ant-checkbox-wrapper {
    transition: 0.3s ease;
  }
  &.hasError {
    .ant-radio-wrapper,
    .ant-checkbox-wrapper {
      color: red !important;
    }
  }
}


