.mainPage {
  &__title {
    color: rgb(10, 81, 161);
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
  }
  &__text {
    display: block;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 80px;
  }

  &__content {
    background-color: #fff;
  }

  &__divBtn {
    margin-top: 100px;
    align-self: center;
    background-color: rgb(10, 81, 161);
    border-color: rgb(10, 81, 161);
    height: 40px;
  }
}
