.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px !important;
  top: 0;
  z-index: 1;
  &--collapsed {
    position: sticky;
  }
}
.trigger {
  font-size: 18px;
  line-height: 64px !important;
  cursor: pointer;
  color: #fff;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}